<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
  {{> adminHeader}}
  <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
    <center>
     
        </div>
      </div>
    </center>
    <div class="e-panel card" style="width: 90%; margin-left: 5%">
      <div class="card-body">
        <div class="card-title">
        </div>
        <div class="e-table">
          <div class="table-responsive table-lg mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <center></center><th class="sortable">Name</th>
                  <th class="sortable">Gender</th>
                  <th class="sortable">Start Date</th>
                  <th class="sortable">Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-nowrap align-middle">Luu Son Truong</td>
                  <td class="text-nowrap align-middle"><span>Male</span></td>
                  <td class="text-nowrap align-middle"><span>2021</span></td>
                  <td class="text-nowrap align-middle"><span>Staff</span></td>
                  
                </tr>
                <tr>
                  <td class="text-nowrap align-middle">Ha Quyet Tien</td>
                  <td class="text-nowrap align-middle"><span>Male</span></td>
                  <td class="text-nowrap align-middle"><span>2021</span></td>
                  <td class="text-nowrap align-middle"><span>Staff</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>